[defaults]
inventory = ./inventory
vault_password_file = ~/.ansible-secrets

[privilege_escalation]
become = true

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/ 
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NjkyODg1MDksImp0aSI6ImI3NzI4YTk1LWEyNmMtNDAxMy1iYjg2LTMwNDcxZTdiZmEzMiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NjU0MDM0MCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiNGIxODgzNDYtZDdjZi00MzBhLTgyZjEtOTdkZThjNTNlOTI5Iiwic2lkIjoiMzA2NDM4MmUtZjhiMi00Zjc3LTk3NmYtYjk1YTdjZTYxMmI0Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.3Ch4BxkIHpq9-vjRF8AouIoUXqJDn0PjP0Ovu1IiSPbImsmMu8gIWz_kNM5utZWPsRi1dERZNG5p1rEo4jovWQ

[galaxy_server.galaxy]
url=https://galaxy.ansible.com
