[defaults]
inventory = ./inventory

[privilege_escalation]
become = true

[galaxy]
server_list = automation_hub

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/ 
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTQ1ODk2OTYsImp0aSI6IjJkZDJhZTczLWEwMzYtNGE4OC04OTc2LTg1ZWNhMGQzNGQzNiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NjU0MDM0MCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiYWM4ZWNmNDYtNDNiZC00NzBlLWFjZjktZDRkNGZlMzhjMWQ5Iiwic2lkIjoiYTU0ZmMyMTctNzUwZi00MDhhLTkyZWQtYTMyNDJjMTg4ZTgwIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IG9mZmxpbmVfYWNjZXNzIn0.MTyeJzML-OfsCyqMW41ix20Cr78Gc5eGKwzkrFWBmYQPFQWTCLZUQDhYZfXoS6kvEpsWCGSBBqa6xiBLY0n0Tg
