---
- name: Promote Lab Environment to Lab Production
  redhat.satellite.content_view_version:
    username: "{{ sat_user }}"
    password: "{{ sat_password }}"
    server_url: "{{ sat_url }}"
    organization: "{{ rh_org }}"
    content_view: "{{ item }}"
    lifecycle_environments: 
      - "{{ prod_lce }}"
    current_lifecycle_environment: "{{ dev_lce }}"
    validate_certs: "{{ validate_certs }}"
  loop: "{{ cv_list }}"

- name: Promote Library to Lab Environment
  redhat.satellite.content_view_version:
    username: "{{ sat_user }}"
    password: "{{ sat_password }}"
    server_url: "{{ sat_url }}"
    organization: "{{ rh_org }}"
    content_view: "{{ item }}"
    lifecycle_environments: 
     - "{{ dev_lce }}"
     - Library
    validate_certs: "{{ validate_certs }}"
  loop: "{{ cv_list }}"